.parallax {
    position: relative;
    overflow-x: hidden;
    height: 100vh;
    perspective: 1px;

    div {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-size: 50px;
        color: #fff;
    }
    .item1 {
        height: 150rem;
        background: #333;
    }
    .item2 {
        top: 800px;
        height: 500px;
        background: aqua;
        transform: translateZ(-2px);
    }
    .item3 {
        top: 900px;
        height: 500px;
        background: yellow;
        opacity: 0.5;
        transform: translateZ(-1px);
    }
}

.container {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    perspective: 300px;
}
.item {
    position: absolute;
    top: 0;
    left: 0;
    padding: 100px;
    border: 1px solid red;
    background: blue;
    transform-style: preserve-3d;
    transform: rotateX(45deg);
}
