@font-face {
    font-family: 'MoveSans';
    src: url('../fonts/MoveSans-Light.woff2');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'MoveSans';
    src: url('../fonts/MoveSans-Medium.woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MoveSans-Bold2';
    src: url('../fonts/MoveSans-Bold.woff2');
    /* font-weight: 700; */
    font-style: normal;
}

@font-face {
    font-family: 'MoveSans-Bold';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'MoveSans-medium';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'MoveSans-light';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}
