* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #222;
    line-height: 1.5;
    letter-spacing: -0.5px;
    list-style: none;
}

.wrap {
    width: 1200px;
    /* block 요소, 나 자신을 가운데 정렬하고 싶을 때 */
    margin: 0 auto;
}

header {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 100px;
    /* background: lightgray; */
}
header h1 {
    display: flex;
}
header h1 a {
    display: flex;
    align-items: center;
}
#gnb {
    display: flex;
    align-items: center;
}
#gnb .depth1 {
    display: flex;
}
#gnb .depth1 > li {
    position: relative;
}
#gnb .depth1 > li > a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
}
#gnb .depth1 > li:hover > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: red;
}
#gnb .depth1 > li:hover > a {
    color: red;
    font-weight: bold;
    /* border-bottom: 2px solid red; */
}
/* 모든 메뉴 다 보이게... */
/* #gnb .depth1:hover > li .depth2 { */
/* li 각각에 보이게... */
#gnb .depth1:hover > li .depth2 {
    display: block;
}
#gnb .depth2 {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    background: #fff;
}
#gnb .depth2 li a {
    display: block;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
}
#gnb .depth2 li a:hover {
    color: red;
}
#gnb:hover .nav-bg {
    display: block;
}
#gnb .nav-bg {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: #fff;
}

/* slide */
.swiper img {
    width: 100%;
}
.slide-intro .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%);
}
.slide-intro .slide-txt {
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    /* text-align: center; */
    width: 50%;
    color: #fff;
}
.slide-intro .slide-txt strong {
    display: block;
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: bold;
    line-height: 1.2;
    color: #fff;
}
.slide-intro .slide-txt p {
    margin-bottom: 50px;
    font-size: 20px;
    color: #fff;
    opacity: 0.7;
}
.slide-intro .slide-txt a {
    display: inline-block;
    padding: 12px 40px 8px;
    background: #007aff;
    color: #fff;
    font-weight: bold;
    border-radius: 30px;
}

.slide {
    overflow: hidden;
    position: relative;
    height: 300px;
    background: lightblue;
}
.slide ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 300%;
}
.slide ul li {
    width: 100%;
    height: 300px;
    border: 1px solid blue;
}

/* contents */
main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main section {
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    flex: 1 1 0;
    /* width: 32%; */
    height: 300px;
    border: 1px solid red;
}
footer {
    display: flex;
    justify-content: space-between;
}
footer div {
    width: 15%;
    height: 100px;
}
footer .copyright {
    width: 60%;
}

#layerPop {
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* fix도 기준 될 수 있음 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
    background: rgba(0, 0, 0, 0.5);
    /* background: #000;
    opacity: 0.5; */
}
#layerPop .layer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: -150px 0 0 -250px; */
    width: 500px;
    height: 300px;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
}
#layerPop .layer h2 {
    text-align: center;
}
#layerPop .layer p {
    overflow: auto;
    flex: 1;
    max-height: 110px;
}
#layerPop .layer button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
