* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #222;
    line-height: 1.5;
    letter-spacing: -0.5px;
    list-style: none;
}

.wrap {
    width: 600px;
    /* block 요소, 나 자신을 가운데 정렬하고 싶을 때 */
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    background: lightgray;
}
header h1 {
    display: flex;
}
header h1 a {
    display: flex;
    align-items: center;
}
header nav {
    display: flex;
    align-items: center;
}

/* slide */
.slide {
    background: lightblue;
}
.slide ul {
    display: flex;
    width: 300%;
}
.slide ul li {
    width: 100%;
    height: 300px;
    border: 1px solid blue;
}

/* contents */
main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main section {
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    flex: 1 1 0;
    /* width: 32%; */
    height: 300px;
    border: 1px solid red;
}
footer {
    display: flex;
    justify-content: space-between;
}
footer div {
    width: 15%;
    height: 100px;
}
footer .copyright {
    width: 60%;
}
