* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #222;
    line-height: 1.5;
    letter-spacing: -0.5px;
    list-style: none;
}

.wrap {
    width: 600px;
    /* block 요소, 나 자신을 가운데 정렬하고 싶을 때 */
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    height: 100px;
    /* background: lightgray; */
}
header h1 {
    display: flex;
}
header h1 a {
    display: flex;
    align-items: center;
}
#gnb {
    display: flex;
    align-items: center;
}
#gnb .depth1 {
    display: flex;
}
#gnb .depth1 > li > a {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 20px;
}

/* slide */
.slide {
    overflow: hidden;
    position: relative;
    height: 300px;
    background: lightblue;
}
.slide ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 300%;
}
.slide ul li {
    width: 100%;
    height: 300px;
    border: 1px solid blue;
}

/* contents */
main {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
main section {
    /* flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0; */
    flex: 1 1 0;
    /* width: 32%; */
    height: 300px;
    border: 1px solid red;
}
footer {
    display: flex;
    justify-content: space-between;
}
footer div {
    width: 15%;
    height: 100px;
}
footer .copyright {
    width: 60%;
}

#layerPop {
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* fix도 기준 될 수 있음 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
    background: rgba(0, 0, 0, 0.5);
    /* background: #000;
    opacity: 0.5; */
}
#layerPop .layer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: -150px 0 0 -250px; */
    width: 500px;
    height: 300px;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
}
#layerPop .layer h2 {
    text-align: center;
}
#layerPop .layer p {
    overflow: auto;
    flex: 1;
    max-height: 110px;
}
#layerPop .layer button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}
