@import 'fonts.css';
/* 변수 저장 */
:root {
    --primary: #ff0000;
    --secondary: #00ff00;
    --default_txt: #222;
    --white: #fff;
    --black: #000;
    --swiper-theme-color: var(--primary);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--default-txt);
    line-height: 1.5;
    letter-spacing: -0.5px;
    list-style: none;
}

/* 공통 컴포넌트 */
a:hover {
    text-decoration: underline;
}
.bg-grey {
    background: #f9f9f9;
}
.btn-g {
    position: relative;
    display: inline-flex;
    min-width: 170px;
    align-items: center;
    padding: 16px 50px 12px 30px;
    background: var(--white);
    border: 1px solid #d1d1d1;
    border-radius: 30px;
    color: var(--primary);
    transition: all 0.3s;
}
.btn-g:hover {
    border: 1px solid var(--primary);
    background: var(--primary);
    color: var(--white);
}

.btn-arrow::after {
    content: '\f105';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    margin-left: 10px;
    font-family: 'Line Awesome Free';
    font-weight: 900;
    font-size: 20px;
}

.btn-more {
    position: absolute;
    top: -120px;
    right: 0;
}

/* layout */
.wrap {
    max-width: 1260px;
    /* block 요소, 나 자신을 가운데 정렬하고 싶을 때 */
    margin: 0 auto;
    padding: 0 30px;
}
header {
    position: relative;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    height: 100px;
    /* background: lightgray; */
}
header h1 {
    display: flex;
}
header h1 a {
    display: flex;
    align-items: center;
}
#gnb {
    display: flex;
    align-items: center;
}
#gnb .depth1 {
    display: flex;
}
#gnb .depth1 > li {
    position: relative;
}
#gnb .depth1 > li > a {
    position: relative;
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 40px;
}
#gnb .depth1 > li:hover > a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: red;
}
#gnb .depth1 > li:hover > a {
    color: red;
    font-weight: bold;
    /* border-bottom: 2px solid red; */
}
/* 모든 메뉴 다 보이게... */
/* #gnb .depth1:hover > li .depth2 { */
/* li 각각에 보이게... */
#gnb .depth1 > li:hover .depth2 {
    display: block;
    max-height: 300px;
    opacity: 1;
}
#gnb .depth2 {
    /* display: none; */
    overflow: hidden;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    max-height: 0;
    background: var(--white);
    transition: all 0.3s;
    opacity: 0;
}
#gnb .depth2 li a {
    display: block;
    padding: 5px 0;
    font-size: 14px;
    text-align: center;
}
#gnb .depth2 li a:hover {
    color: red;
}
#gnb:hover .nav-bg {
    display: block;
}
#gnb .nav-bg {
    display: none;
    position: absolute;
    top: 100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: var(--white);
}
#gnb .btn-menu {
    display: none;
}
#gnb .btn-menu i {
    font-size: 30px;
}
#gnb .btn-menu span {
    position: absolute;
    top: 0;
    left: 0;
    text-indent: -9999px;
    font-size: 0;
    line-height: 0;
}

@media screen and (max-width: 1200px) {
    body {
        background-color: lightblue;
    }
    .wrap {
        padding: 0 30px;
    }
    #gnb .btn-menu {
        display: block;
    }
    #gnb .depth1 {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    body {
        background-color: olive;
    }
    .wrap {
        padding: 0 20px;
    }
}

/* slide */
.swiper img,
.swiper video {
    width: 100%;
    height: 800px;
    object-fit: cover;
}
.slide-intro {
    border-radius: 0 0 100px 100px;
}

.slide-intro .swiper-slide::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0) 70%);
}
.slide-intro .slide-txt {
    position: absolute;
    top: 50%;
    left: 120px;
    transform: translateY(-50%);
    /* text-align: center; */
    width: 50%;
    color: var(--white);
}
.slide-intro .swiper-slide .slide-txt {
    transform: translateY(0);
    opacity: 0;
    transition: all 1s ease-in 0.5s;
}
.slide-intro .swiper-slide-active .slide-txt {
    transform: translateY(-50%);
    opacity: 1;
}
.slide-intro .slide-txt strong {
    display: block;
    margin-bottom: 20px;
    font-family: 'MoveSans-Bold';
    font-size: 40px;
    line-height: 1.2;
    color: var(--white);
}
.slide-intro .slide-txt p {
    margin-bottom: 50px;
    font-size: 20px;
    color: var(--white);
    opacity: 0.7;
}
.slide-intro .slide-txt a {
    display: inline-block;
    padding: 12px 40px 8px;
    background: var(--primary);
    color: var(--white);
    font-weight: bold;
    border-radius: 30px;
}

.slide {
    overflow: hidden;
    position: relative;
    height: 300px;
    background: lightblue;
}
.slide ul {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 300%;
}
.slide ul li {
    width: 100%;
    height: 300px;
    border: 1px solid blue;
}

/* .swiper-slide {
    width: 600px !important;
    margin-right: 0 !important;
} */

/* contents */
main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.sec-g {
    padding: 70px 0;
}
.sec-g .sec-tit {
    display: inline-block;
    margin-bottom: 50px;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    border-bottom: 5px solid var(--primary);
}
.sec-g .sec-tit span {
    color: var(--primary);
}
.sec-g .sec-cont {
    position: relative;
}

/* sec-business */
.sec-business .sec-cont {
    display: flex;
    justify-content: space-between;
}
.sec-business .col-left {
    width: 50%;
}
.sec-business .col-left img {
    width: 100%;
    height: 470px;
    object-fit: cover;
    object-position: 20% 50%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}
.sec-business .col-right {
    width: 50%;
    padding: 60px 0 0 80px;
}
.sec-business .text-wrap .tit {
    margin-bottom: 20px;
    font-size: 40px;
    font-weight: 700;
}
.sec-business .text-wrap .txt {
    font-size: 18px;
    color: #575757;
}
.sec-business .btn-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 70px;
}
.sec-business .btn-wrap .btn-g {
    width: 250px;
    margin-bottom: 10px;
}
.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    background: url(https://images.unsplash.com/photo-1440288736878-766bd5839edb?q=80&w=2074&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D)
        no-repeat 0 0 / cover fixed;
    /* background-size: cover; */
    /* background-attachment: fixed; */
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: var(--white);
}

/* sec-news */
.sec-news .list-news {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.sec-news .list-news li {
    /* flex: 1; */
    width: 30%;
}
.sec-news .list-news img {
    width: 100%;
}
.sec-news .thumb {
    position: relative;
    overflow: hidden;
    height: 270px;
}
.sec-news li .thumb img {
    transition: transform 0.3s;
}
.sec-news li:hover .thumb img {
    transform: scale(1.05);
}
.sec-news .thumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}
.sec-news .thumb::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid rgba(0, 0, 0, 0.06);
    background: rgba(0, 0, 0, 0.03);
}
.sec-news .txt strong {
    display: block;
    margin: 30px 0 15px;
    font-size: 20px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
}
.sec-news .txt em {
    font-style: normal;
}

/* main section {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    flex: 1 1 0;
    width: 32%;
    height: 300px;
    border: 1px solid red;
} */
footer {
    display: flex;
    justify-content: space-between;
}
footer div {
    width: 15%;
    height: 100px;
}
footer .copyright {
    width: 60%;
}

/* #layerPop */
#layerPop {
    display: none;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* fix도 기준 될 수 있음 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* width: 100%;
    height: 100%; */
    background: rgba(0, 0, 0, 0.5);
    /* background: #000;
    opacity: 0.5; */
}
#layerPop .layer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* margin: -150px 0 0 -250px; */
    width: 500px;
    height: 300px;
    padding: 40px;
    background: var(--white);
    border-radius: 20px;
}
#layerPop .layer h2 {
    text-align: center;
}
#layerPop .layer p {
    overflow: auto;
    flex: 1;
    max-height: 110px;
}
#layerPop .layer button {
    width: 100px;
    height: 30px;
    margin: 0 auto;
    background: #333;
    color: var(--white);
    border: none;
    cursor: pointer;
}
